<%= simple_form_for(@generic_asset) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% for section_renderer in @renderer.section_renderers.values %>
      <%= section_renderer.render(f) %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
