<%= simple_form_for(@generic_asset) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= @renderer.render_inputs(f) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
